.navBarre{
    display: flex;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    justify-content: space-around;
    padding-bottom: 5vh;
}
.navBarre-home {
    padding: 0 1%;
}
.navBarre-projet {
    padding: 0 1%;
}